@charset "UTF-8";
/*
Autor: Adrian Quevedo (http://www.adrianquevedo.com)
*/
@font-face {
  font-family: 'ui-pegman';
  src: url(../fonts/ui-pegman.eot?xj5nzt);
  src: url(../fonts/ui-pegman.eot?#iefixxj5nzt) format("embedded-opentype"), url(../fonts/ui-pegman.woff?xj5nzt) format("woff"), url(../fonts/ui-pegman.ttf?xj5nzt) format("truetype"), url(../fonts/ui-pegman.svg?xj5nzt#ui-pegman) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ui-pegman';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-todo:before {
  content: "\e614"; }

.icon-videos:before {
  content: "\e603"; }

.icon-imagenes:before {
  content: "\e604"; }

.icon-conversaciones:before {
  content: "\e605"; }

.icon-rutas:before {
  content: "\e606"; }

.icon-datos:before {
  content: "\e607"; }

.icon-googleplus:before {
  content: "\e600"; }

.icon-facebook:before {
  content: "\e601"; }

.icon-instagram:before {
  content: "\e608"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-youtube:before {
  content: "\e613"; }

.icon-github:before {
  content: "\e609"; }

.icon-tumblr:before {
  content: "\e60a"; }

.icon-foursquare:before {
  content: "\e60b"; }

.icon-html5:before {
  content: "\e60c"; }

.icon-css3:before {
  content: "\e60d"; }

.icon-chrome:before {
  content: "\e60e"; }

.icon-firefox:before {
  content: "\e60f"; }

.icon-IE:before {
  content: "\e610"; }

.icon-opera:before {
  content: "\e611"; }

.icon-safari:before {
  content: "\e612"; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* GLOBAL SETTINGS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* Viewport ----------- */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* Selections ----------- */
::-moz-selection {
  background: #d84437;
  color: #f7f7f7;
  text-shadow: none; }

::selection {
  background: #d84437;
  color: #f7f7f7;
  text-shadow: none; }

::selection:window-inactive {
  background: #1a1a1a;
  color: #eee; }

html,
button,
input,
select,
textarea {
  color: #222; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* =1 BODY AND LAYOUTS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
html, body {
  height: 100%; }

html {
  background: #1a1a1a url(../i/bg-pattern.png) 0 0 repeat; }

body {
  color: #1a1a1a;
  font: normal 100%/1.5 "omnes-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  overflow: hidden;
  vertical-align: top; }

/* Layout Styles ----------- */
.l-container {
  width: 90%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  .l-container:after {
    content: "";
    display: table;
    clear: both; }

/* =2 LINKS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
a:link,
a:visited {
  color: #d84437;
  text-decoration: none; }

a:hover {
  color: #ff7202; }

a:active {
  color: #0f9d58; }

/* =3 HEADINGS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.375em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.75em; }

h6 {
  font-size: 0.625em; }

/* =4 FORM INPUTS
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  border: 1px solid #0f9d58; }

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  background: #d84437; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  background: #f7f7f7; }

/* Header Module Styles ----------- */
.l-header {
  /* @todo Write Header Module CSS */ }

/* Main Module Styles ----------- */
.main {
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: -webkit-calc(100% - 38px);
  height: calc(100% - 38px); }
  @media screen and (max-width: 30em) {
    .main {
      border-top: solid 60px #1a1a1a; } }

.logo {
  color: #f7f7f7;
  display: inline-block;
  font-weight: 600;
  margin: 0;
  position: relative; }
  .logo span {
    opacity: .65; }

.logo:before {
  content: '#';
  display: inline-block;
  font-size: .6em;
  vertical-align: middle; }

.logo:after {
  background: url(../i/logo-pin.png) 0 0 no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 74px;
  position: absolute;
  right: 25px;
  top: -57px;
  width: 54px; }

.logo.is-fixed {
  display: none;
  font-size: 1.5em;
  left: 18px;
  position: fixed;
  top: 35px;
  z-index: 9999; }
  @media screen and (max-width: 30em) {
    .logo.is-fixed {
      display: inline-block;
      left: 0;
      margin: 0 auto;
      right: 0;
      top: 10px;
      width: 167px; } }
  .logo.is-fixed a {
    color: #f7f7f7;
    display: inline-block; }

.logo.is-fixed:after {
  height: 34px;
  right: 16px;
  top: -26px;
  width: 24px; }
  @media screen and (max-width: 30em) {
    .logo.is-fixed:after {
      display: none; } }

/* Sections Transitions */
.section-area {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  -o-transform: translateY(-100%) scale(0.5);
  transform: translateY(-100%) scale(0.5);
  -webkit-transition: -webkit-transform 1s ease-in-out, opacity 0s linear 1s;
  -moz-transition: -moz-transform 1s ease-in-out, opacity 0s linear 1s;
  -ms-transition: -ms-transform 1s ease-in-out, opacity 0s linear 1s;
  -o-transition: -o-transform 1s ease-in-out, opacity 0s linear 1s;
  transition: transform 1s ease-in-out, opacity 0s linear 1s; }

.is-active {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out; }

/* Timeline Module Styles ----------- */
.ui-timeline {
  color: #f7f7f7;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 30em) {
    .ui-timeline {
      display: none; } }

.ui-timeline__section {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: -webkit-transform 600ms, opacity 500ms ease-in;
  -moz-transition: -moz-transform 600ms, opacity 500ms ease-in;
  -o-transition: -o-transform 600ms, opacity 500ms ease-in;
  -ms-transition: -ms-transform 600ms, opacity 500ms ease-in;
  transition: transform 600ms, opacity 500ms ease-in; }

.ui-timeline__section.is-current {
  opacity: 1;
  z-index: 20; }

.ui-timeline__section.is-open {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%); }

.section-start {
  background: url(../i/pegman01.png) center no-repeat;
  background-size: cover; }
  .section-start .title {
    height: 232px;
    width: 600px; }
  .section-start p {
    margin-bottom: 30px; }

video {
  background-size: contain;
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

.videoGoesHere {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.title {
  bottom: 0;
  height: 320px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 488px;
  z-index: 10; }
  .title h2 {
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1;
    margin: 0; }

.btn-explore {
  background-color: #d84437;
  border: none;
  color: #f7f7f7;
  font-size: 0.875em;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #1a1a1a; }
  .btn-explore span {
    display: inline-block;
    position: relative;
    z-index: 10; }

.btn-explore:hover:after {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.btn-explore:after {
  background: #f4b400;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  -ms-transition: -ms-transform 300ms;
  transition: transform 300ms; }

.btn-enter {
  background-color: black;
  border: none;
  color: #f7f7f7;
  display: block;
  font-size: 0.875em;
  margin: 0 auto 14px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #1a1a1a;
  width: 165px; }
  .btn-enter span {
    display: inline-block;
    position: relative;
    z-index: 10; }

.btn-enter:hover:after {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.btn-enter:after {
  background: #f4b400;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  -ms-transition: -ms-transform 300ms;
  transition: transform 300ms; }

.btn-continue {
  background-color: rgba(229, 106, 93, 0.3);
  border: none;
  color: #f7f7f7;
  display: block;
  font-size: 0.875em;
  margin: 0 auto 14px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #1a1a1a;
  width: 165px; }
  .btn-continue span {
    display: inline-block;
    position: relative;
    z-index: 10; }

.btn-continue:hover:after {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.btn-continue:after {
  background: #f4b400;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  -ms-transition: -ms-transform 300ms;
  transition: transform 300ms; }

/* Feed Styles ----------- */
.feed {
  background: #f4b400 url(../i/bg-pattern.png) 0 0 repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 30;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -o-transition: -o-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  transition: transform 600ms; }

.feed.is-open {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.top-bar {
  background: #ECA828;
  border-bottom: solid 6px #FABC2B;
  overflow: hidden;
  text-align: right; }

.filters {
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  -webkit-transform: translate(0, 1000%);
  -moz-transform: translate(0, 1000%);
  -ms-transform: translate(0, 1000%);
  -o-transform: translate(0, 1000%);
  transform: translate(0, 1000%);
  -webkit-transition: -webkit-transform 1000ms, opacity 1000ms ease-out;
  -moz-transition: -moz-transform 1000ms, opacity 1000ms ease-out;
  -o-transition: -o-transform 1000ms, opacity 1000ms ease-out;
  -ms-transition: -ms-transform 1000ms, opacity 1000ms ease-out;
  transition: transform 1000ms, opacity 1000ms ease-out; }
  .filters span {
    vertical-align: middle; }

.filters.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.filter {
  color: #f7f7f7;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  height: 74px;
  margin-left: 1px;
  min-width: 80px;
  padding: 12px 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

.filter:hover,
.filter.is-active {
  background-color: #f7f7f7;
  color: #f4b400; }

.filter:before {
  display: block;
  font-size: 2.14286em;
  margin: 0 auto 5px; }

.btn-close-feed {
  background: #d84437;
  border: none;
  color: #f7f7f7;
  font-size: 2.5em;
  display: inline-block;
  height: 74px;
  vertical-align: top;
  width: 80px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

.btn-close-feed:hover {
  color: #f4b400; }

/* Feed Content */
.feed__content {
  overflow: auto;
  position: relative;
  width: 100%;
  height: -webkit-calc(100% - 80px);
  height: calc(100% - 80px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .feed__content:after {
    content: "";
    display: table;
    clear: both; }

/* Feed Place Bar */
.feed__place {
  background: #FABC2B;
  color: #f7f7f7;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  padding: 20px 25px;
  top: 0;
  vertical-align: top;
  width: 240px;
  z-index: 30;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .feed__place h3 {
    word-wrap: normal; }
  .feed__place h3,
  .feed__place p,
  .feed__place .feed__stats {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 1000ms, opacity 1500ms ease-out;
    -moz-transition: -moz-transform 1000ms, opacity 1500ms ease-out;
    -o-transition: -o-transform 1000ms, opacity 1500ms ease-out;
    -ms-transition: -ms-transform 1000ms, opacity 1500ms ease-out;
    transition: transform 1000ms, opacity 1500ms ease-out; }
  .feed__place h3 {
    font-size: 2.375em;
    line-height: 1;
    margin-bottom: 14px; }
  .feed__place p {
    margin: 0; }

.feed__place.is-visible h3,
.feed__place.is-visible p,
.feed__place.is-visible .feed__stats {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.feed__stats {
  line-height: 1;
  list-style: none;
  padding: 0; }
  .feed__stats li:nth-child(2) {
    margin-bottom: 14px; }

.feed__stats:before {
  background: url(../i/feed-stats.png) center no-repeat;
  background-size: 149px 38px;
  border-bottom: solid 1px #f7f7f7;
  border-top: solid 1px #f7f7f7;
  content: '';
  display: block;
  height: 38px;
  margin: 0 auto 14px;
  padding: 10px 0;
  width: 100%; }

/* Feed Container */
.feed__container {
  float: left;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 240px;
  white-space: nowrap;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.feed__list {
  height: 100%;
  width: 1600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.feed__item {
  color: #f7f7f7;
  display: block;
  height: 50%;
  max-width: 800px;
  min-width: 400px;
  overflow: hidden;
  opacity: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 2000ms ease-in;
  -moz-transition: opacity 2000ms ease-in;
  transition: opacity 2000ms ease-in; }
  .feed__item img {
    display: block;
    height: auto;
    min-height: 100%;
    width: 100%; }

.feed__item:hover .item__info {
  opacity: 1; }

.feed__item.is-visible {
  opacity: 1; }

a.feed__item {
  color: #f7f7f7; }

.item__info {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  padding: 10px 20px;
  position: absolute;
  text-align: right;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out; }
  .item__info span {
    text-transform: capitalize; }

/* Content Types */
.route,
.video,
.video iframe,
.image.gif {
  min-width: 800px; }

.route {
  background-color: #4285f4; }

/* About Module Styles ----------- */
.ui-about {
  background: white;
  color: #1a1a1a;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  @media screen and (max-width: 30em) {
    .ui-about {
      z-index: 1000;
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: -webkit-transform 1s ease-in-out;
      -moz-transition: -moz-transform 1s ease-in-out;
      -ms-transition: -ms-transform 1s ease-in-out;
      -o-transition: -o-transform 1s ease-in-out;
      transition: transform 1s ease-in-out; } }

.content {
  font-size: 1.125em;
  font-weight: 100;
  width: 100%; }
  .content .l-container {
    max-width: 768px;
    padding: 40px 0; }
  .content blockquote {
    color: #f4b400;
    font-size: 1.55556em; }
  .content code {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family: Consolas, Courier, monospace;
    font-size: 0.875em;
    margin: 0;
    padding: 0 4px; }

.subtitle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
  font-size: 0.875em;
  line-height: 600px;
  height: 600px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  @media screen and (max-width: 30em) {
    .subtitle {
      height: 100px;
      line-height: 100px; } }

.subtitle--one {
  background-image: url(../i/about-title-bg-01.jpg); }

.subtitle--two {
  background-image: url(../i/about-title-bg-02.jpg); }

.subtitle-three {
  background-image: url(../i/about-title-bg-03.jpg); }

.quote {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  margin-bottom: 56px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

.quote--one {
  background-image: url(../i/about-title-01.png);
  height: 193px; }

.quote--two {
  background-image: url(../i/about-title-02.png);
  height: 483px; }

.quote--three {
  background-image: url(../i/about-title-03.png);
  height: 239px; }

.credits {
  background: #555;
  color: #f7f7f7; }
  .credits ul {
    color: #999;
    list-style: none;
    padding: 40px 0;
    text-align: center; }
  .credits li {
    display: inline-block; }
  .credits img {
    display: block;
    margin: 0 auto 14px; }
  .credits a {
    color: #f7f7f7;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out; }
  .credits a:hover {
    color: #f4b400; }

.info-contact {
  text-align: center; }
  .info-contact a {
    text-decoration: underline; }
  .info-contact a:hover {
    text-decoration: none; }

.social-links {
  text-align: center;
  margin: 40px 0 10px; }
  .social-links a {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle; }
  .social-links a:before {
    display: block;
    font-size: 1em; }
  .social-links span {
    display: none; }

.digital-invaders {
  background: #1a1a1a url(../i/digital-invaders.png) center no-repeat;
  display: block;
  height: 100px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

/* Progress Bar Styles ----------- */
.progress {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  margin: 0% auto;
  padding: 30px 40px 29px;
  position: absolute;
  width: 100%;
  z-index: 25;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  -webkit-transform: translate(0, 60px);
  -moz-transform: translate(0, 60px);
  -ms-transform: translate(0, 60px);
  -o-transform: translate(0, 60px);
  transform: translate(0, 60px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.progress.is-visible {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.progress-bar {
  background-color: #f7f7f7;
  border-radius: 10px;
  height: 1px;
  position: relative;
  width: 100%; }

.lookahead {
  background-color: #f4b400;
  border-radius: 10px;
  height: 1px;
  left: 0;
  position: absolute;
  width: 20%;
  z-index: 1;
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  transition: width 3s; }

.ticks {
  left: 0;
  position: absolute;
  top: -12px;
  width: 100%;
  z-index: 3; }
  .ticks a {
    display: block;
    color: #f7f7f7;
    left: 19.4%;
    position: absolute;
    -webkit-transform: translate(-9px, 0);
    -moz-transform: translate(-9px, 0);
    -ms-transform: translate(-9px, 0);
    -o-transform: translate(-9px, 0);
    transform: translate(-9px, 0); }
  .ticks a:hover .preview {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .ticks a:hover:before,
  .ticks a.is-current:before {
    background-color: #f4b400;
    border: solid 3px #d84437;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }
  .ticks a.is-seen:before {
    background-color: #BD574D;
    border: solid 3px #d84437; }
  .ticks a:before {
    background-color: #1a1a1a;
    border: solid 3px #f7f7f7;
    border-radius: 50%;
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-transition: -webkit-transform 400ms ease-out;
    -moz-transition: -moz-transform 400ms ease-out;
    -ms-transition: -ms-transform 400ms ease-out;
    -o-transition: -o-transform 400ms ease-out;
    transition: transform 400ms ease-out; }
  .ticks a:after {
    background-color: #d84437;
    border-radius: 50%;
    content: '';
    height: 1px;
    opacity: 1;
    position: absolute;
    left: 5px;
    bottom: 11px;
    width: 1px; }
  .ticks a.is-current:after {
    opacity: 0;
    -webkit-transform: scale(100);
    -moz-transform: scale(100);
    -ms-transform: scale(100);
    -o-transform: scale(100);
    transform: scale(100);
    -webkit-transition: -webkit-transform 500ms ease-out, opacity 500ms ease-in;
    -moz-transition: -moz-transform 500ms ease-out, opacity 500ms ease-in;
    -ms-transition: -ms-transform 500ms ease-out, opacity 500ms ease-in;
    -o-transition: -o-transform 500ms ease-out, opacity 500ms ease-in;
    transition: transform 500ms ease-out, opacity 500ms ease-in; }

.prct {
  background-color: #d84437;
  border-radius: 10px;
  display: block;
  height: 5px;
  position: relative;
  top: -2px;
  width: 0%;
  z-index: 2; }

.playhead {
  background-color: #f4b400;
  border-radius: 50%;
  height: 7px;
  margin-left: -7.5px;
  position: absolute;
  top: -3px;
  width: 7px;
  z-index: 4; }

/* Previews */
.preview {
  background-color: #1A1919;
  border-radius: 5px;
  bottom: 30px;
  height: 145px;
  font-size: 0.875em;
  opacity: 0;
  padding: 7px;
  pointer-events: none;
  position: absolute;
  left: -62px;
  margin-bottom: 15px;
  text-align: center;
  width: 134px;
  z-index: 15;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  transform: translate(0, -50px);
  -webkit-transition: -webkit-transform .5s ease-out, opacity .5s ease-out;
  -moz-transition: -moz-transform .5s ease-out, opacity .5s ease-out;
  -ms-transition: -ms-transform .5s ease-out, opacity .5s ease-out;
  -o-transition: -o-transform .5s ease-out, opacity .5s ease-out;
  transition: transform .5s ease-out, opacity .5s ease-out; }
  .preview img {
    border-bottom: solid 3px #d84437;
    display: block;
    margin: 0 auto 7px; }
  .preview strong,
  .preview span {
    display: block;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .preview strong {
    font-size: 1.375em;
    font-weight: 400;
    margin-bottom: 7px; }

.preview:after {
  content: '';
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  top: 145px;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 16px;
  border-top-color: #1a1919; }

/* Footer Module Styles ----------- */
.l-footer {
  background-color: #1a1a1a;
  color: #f7f7f7;
  font-size: 0.75em;
  font-weight: 500;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }
  .l-footer a {
    color: #6B6B6C;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
  .l-footer a:hover {
    color: #B3B3B3; }

.menu {
  float: left;
  text-transform: uppercase; }
  @media screen and (max-width: 30em) {
    .menu {
      display: none; } }
  .menu a {
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }
  .menu a:hover {
    background-color: #2C2C2C; }
  .menu a:before {
    background-color: #2C2C2C;
    border-radius: 50%;
    color: #f4b400;
    display: inline-block;
    font-weight: 100;
    line-height: 14px;
    margin-right: 10px;
    vertical-align: baseline;
    text-align: center;
    width: 14px;
    height: 14px; }

.lnk-about:before {
  content: '?'; }

.lnk-timeline:before {
  content: '↫'; }

.lnk-poll:before {
  content: '+'; }

.toggle-button {
  display: inline-block; }
  .toggle-button .lnk-timeline {
    display: none; }

.toggle-button.is-about .lnk-timeline {
  background-color: #d84437;
  color: #f7f7f7;
  display: inline-block; }
.toggle-button.is-about .lnk-about {
  display: none; }

.contact-lnks {
  float: right; }

.popup {
  font-size: 1.5em;
  width: 32px; }
  .popup span {
    color: transparent;
    font: 0/0 a;
    text-shadow: none; }

/* Modal Window Styles --------------- */
.md-modal {
  height: auto;
  left: 50%;
  max-width: 630px;
  min-width: 300px;
  position: fixed;
  top: 50%;
  width: 50%;
  visibility: hidden;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

.md-overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn-close {
  background-color: #1a1a1a;
  border: solid 3px #f7f7f7;
  border-radius: 50%;
  color: #f7f7f7;
  height: 40px;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }

.btn-close:hover {
  background-color: #d84437;
  color: #f7f7f7; }

/* Effect 3D flip horizontal */
.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px; }

.md-window {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  -moz-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  -o-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show .md-window {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg); }

/* Content styles */
.md-window {
  background: #0f9d58;
  border: solid 3px #f7f7f7;
  border-radius: 10px;
  color: #f7f7f7;
  position: relative;
  margin: 0 auto;
  min-height: 540px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.md-content {
  display: none;
  height: 540px;
  overflow: auto;
  padding: 20px 30px 20px 20px;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .md-content h1:after {
    display: none; }

.md-content.md-show {
  display: block; }

.is-hidden {
  display: none; }

.no-js .is-hidden--no-js {
  display: none; }

.js .is-hidden--js {
  display: none; }

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.is-visually-hidden.focusable:active,
.is-visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.is-invisible {
  visibility: hidden; }